::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.headerstyle {
  text-align: 'center';
  color: #fff;
  height: 64px;
  padding-inline: 50px;
  line-height: 64px;
  background-color: #386656;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px 8px 12px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  padding-bottom: 20px;
}

/* .header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 8px 12px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  color: #ffffff;
  background-color: #386656;
  position: sticky;
  width: 100%;
   top: 0;
   z-index: 1;
  
  } */


.contentStyle {
  min-height: 100dvh;
  line-height: 22px;
  color: #fff;
  background-color: #fef9f7;
  overflow-y: scroll !important;
  height: 100%;
}

.sideStyle {
  height:100vh;
  line-height: 22px;
  padding-bottom: 22px;
  color: #386656;
  background-color: #fff !important;
  position: fixed !important;
  left: 0;
  overflow-y: scroll !important;
}


.ant-layout-sider {
  flex: 0 0 200px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  width: 200px !important;
  height: 100dvh !important;
  overflow-y: scroll !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.ant-menu-item {
  padding-top: 8px; /* Adjust the padding as needed */
  padding-bottom: 8px; /* Adjust the padding as needed */
}

.scrollable-menu {
  overflow-y: auto;
  max-height: calc(100vh - 64px); /* Adjust the max-height based on your layout */
}

.bg-primary {
  background-color: #2f463d !important;
  color: #fff;
}

.bg-secondary {
  background-color: #D6B300 !important;

}

.text-primary {
  color: #386656 !important;
}

.selectedTableRow {
  background-color: #174734;
  color: #ffffff;
}

.BtnPadding {
  padding: 5px;
  font-size: 12px;
}

thead {
  background-color: #174734;
  color: #ffffff;
}

.btn-secondary {
  background-color: #D6B300;
  color: #fff;
  border: none;

}

.btn-secondary:hover {
  background-color: #386656 !important;
  color: #fff !important;
  transition: .8 ease;
}

.table-style {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.btn-primary {
  columns: #fff;
  background-color: #386656;
}

.btn-primary:hover{
  background-color: transparent;
  color: #2f463d;
  border: none;
}


ant-layout .ant-layout-sider-trigger {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 48px;
  color: #fff;
  line-height: 28px;
  width: 200px !important;
  text-align: center;
  background: #386656 !important;
  cursor: pointer;
  transition: all 0.2s;
}
/* 
@media only screen and (max-width: 768px) {
  .ant-layout-sider{
    display: none !important;
  }

  .contentStyle{
    width: 100%;
  }
} */